<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Ma Team</title>
</head>
<body>
    <form action="/teams" method="POST">
        <input type="text" placeholder="manager" name="name">
        <input type="text" placeholder="team" name="team">
        <button type="submit">Submit</button>
    </form>

    <ul class="teams">
        <% for (var i=0; i<teams.length;i++) {%>
        <li class="team">
            <span><%= teams[i].name%></span>
            <span><%= teams[i].team%></span>
        </li>
        <% } %>
    </ul>
</body>
</html>